.profile__job {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 0 0 25px 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 336px;
}

@media screen and (max-width: 977px){
    .profile__job {
        text-align: center;
    }
}

@media screen and (max-width: 728px){
    .profile__job {
        font-size: 14px;
        line-height: 17px;
        padding-bottom: 36px;
        max-width: 282px;
    }
}