.footer {
    margin-top: 67px;
    margin-bottom: 60px;
    padding-left: 200px;
}

@media screen and (max-width: 1144px) {
    .footer {
        padding-left: 50px;
    }
}

@media screen and (max-width: 320px){
    .footer {
        padding-left: 19px;
        margin-top: 48px;
        margin-bottom: 36px;
    }
}