.popup__save-button_inactive {
    border: 1px solid #000000;
    background: #ffffff;
    color: #000000;
    opacity: 0.20;
}

.popup__save-button_inactive:hover {
    cursor: auto;
    opacity: 0.20;
}